body{
  background: #003102;
}
header img{
  background:black;
  border-radius:100%
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background:#00d30d;
  padding: 0 22px;
  border-radius:50px;
}
header div {
  background: #074f09;
  margin: 0 150px;
  text-align:right;
  border-radius:50px;
  padding:0;
}
header img{
  width:150px;
}
header h3{
  text-align:bottom;
}
header h1{
  font-size:80px;
  text-align:right;
}
header div h2{
  text-align:right;
}

main div {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  font-size:100px;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 12px 22px;
  border-bottom: 3px solid rgba(255,255,255,0.03);
}
main a{
  background:#00d30d;
  text-decoration:none;
  color:black;
}
main div i{
  background:#00d30d;
  padding:20px;
}


main section{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 0 22px;
  border-bottom: 3px solid rgba(255,255,255,0.03);
  border-radius:50px;
}
main section img{
  width:100px;
  border-radius:100%;
  
}

background:#ff2321;
background:#d9d9d9;
background:#e2a9f1;
background:#fcbc00;
background:#ff5757;
background:#5ce1e6;
background:#c1ff72;
